body {
  font-family: "Khula", Arial, sans-serif;
  background: #eee;
  @media print {
    background: #fff;
  }
  font-size: 12px;
  & * {
    margin-bottom: 0.5px;
  }
}

li {
  text-indent: -1em;
  padding-left: 1em;
}

.resume-container {
  background: #fff;
  width: 800px;
  height: 1650px;
  margin: 20px auto 20px auto;
  @media print {
    margin: 0;
  }
  /* border-bottom: solid 20px $info; */
}

.eyecatch-title {
  color: #5559;
  font-size: 30px;
  margin: 12px 0 0 0;
}

.eyecatch-subtitle {
  color: $info;
  font-size: $xlarge;
}

.eyecatch-logo {
  background: url('../images/profile.jpg');
  width: 120px;
  height: 150px;
  margin-top: 25px;
}

.contact {
  background: $info;
  color: #fff;
  padding: 10px;
  text-align: center;
}

.contact-each-first,
.contact-each-second {
  border-right: solid 1px #888;
  margin-left: 0;
  width: 23% !important;
}

.contact-each-third {
  border-right: solid 1px #888;
  margin-left: 1%;
  width: 32% !important;
}
.contact-each-last {
  margin-left: 3%;
  width: 16% !important;
}
.contact-content {
  font-size: $large;
  font-weight: bold;
}

.work-each {
  margin-bottom: 30px;
}

.oss-title {
  font-weight: bold;
}

.oss-url {
  margin-left: 10px;
}

.oss-description {
  margin-left: 24px;
}

.education {
  margin-bottom: 40px;
}

.u-section-title {
  font-size: $xlarge;
  color: $info;
  letter-spacing: 0.3px;
  margin-bottom: 12px;
}

.u-each-title {
  margin-bottom: 4px;
}

.u-each-organization {
  font-weight: bold;
}

.u-each-subtitle {
  margin-bottom: 6px;
  color: #888;
}

.u-each-period {
  margin-left: 6%;
  padding-left: 6%;
  border-left: solid 1px #ccc;
}

.u-doc-container {
  padding: 20px 30px 16px;
}
