body{
    font-family: sans-serif;
    padding:0;	
}
header{
    background-color:RGB(53,79,255);
    color:#FFFFFF;
    margin:0;
    padding:40px;	
    height: 190px;		
}

.userdata{
    margin-left:10px;    
    float:left;
    width:550px;
}
.name{
    margin-left: 20px;
}
.userdata h1{
    font-size:26pt;
    letter-spacing:2px;
    padding-bottom:0; 
    margin-bottom:0; 
    margin-top: 55px;		
}
.userdata p{
    margin-top:0;
    text-align: left;
}

.userdata div{
    background-color:RGB(217,227,225);
    border-radius:50%;	
    width:182px;
    height:182px;
    float:left;
    margin-right: 20px;
    display:table;
    background-image: url('../images/avatar.jpg');	
    background-size: cover;	
}
.contacts{
    float:right;
    margin-right:90px;

}
.contacts ol li:before{
  position:absolute;
  content: " ";
  width:25px;
  height:25px;
  
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  left:-5px;
}
.contacts ol li:first-child:before{
	background-image: url("../images/geo.gif");
}
.contacts ol li:nth-child(2):before{
	background-image: url("../images/net.gif");
}
.contacts ol li:last-child:before{
	background-image: url("../images/tel.gif");
}
.contacts li:nth-child(2) p a{
   margin-bottom: 4px;	
}
.contacts li{
    /*list-style:url("../images/geo.gif");*/
    width: 250px;
    position: relative;
    margin-top: 10px;
    margin-bottom: 10px;
} 
.contacts li a{
    color: #fff;
    	
}
.contacts li a:hover {
	 text-decoration: underline;
	 color:#effd46;
}
.contacts li p{
    font-size:18px;
    margin-left:12px;
    padding-left:12px;
    margin-bottom: 8px;
    margin-top: 8px;
}
main{
    background-color:#ffffff;
    display: flex;
}
nav{
	padding-left: 40px;
   width: 350px;
	background:linear-gradient(90deg, #fff, #FbFbFb);
	border-right:1px solid #f5f5f5;
	
}
nav ul {
	margin:0;
	padding: 0;
}
.menulist{
    list-style:none;
    
}
.menulist img {
    float: left;
    padding-right:20px;
    
}
.menulist .item{
    margin-top:20px;
    margin-left: 20px;
    position: relative;
}
.menulist .item h2 {
    margin-left: 35px;
    font-weight:bold;
    font-size:16px;
    padding-top:5px; 
}
.menulist .item h3 {
	font-size: 13pt;
	color: #5785fa;
}
.menulist .item::before {
 position:absolute;
  content: " ";
  width:25px;
  height:25px;
  
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  left:-5px;
  background-image:url("../images/list.gif");
}	

.menulist .desc{
    width:250px;
    margin-left:35px;
    color:RGB(110,115,116);
    margin-bottom: 30px;
	margin-top: 30px;
}
.images {
	display: flex;
	justify-content: space-around;
	height: 90px;
}
.interes{
    width:42px;
    height:42px;
    margin-right:0px;
    margin-left:17px;
	margin-top:10px;
	
	 background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}
.interes p {
  margin-top:45px;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: -1px;
  margin-left: -5px;
  color:#4566fc;
  
}
.interes:first-child{
	background-image: url("../images/music.gif");
}
.interes:nth-child(2){
	background-image: url("../images/games.gif");
}
.interes:last-child{
	background-image: url("../images/biking.gif");
}
.intereshead{
    font-size:10pt;
    word-spacing:25px;
	
}

li{
	list-style:none;
	
}
.desc ul {
	padding: 0;
	margin: 0;
	position: relative;
}
.desc ul .line {
	margin:0; 
	display: inline-block; 
	position: relative;
	height: 100px;
}
li .desc {
   position: relative;
}

li .line::after {
   position: absolute;
   content: ' ';
   top: 20px;
   left: 0;
   width: 10px;
   height: 10px;
   z-index: 20;
   border-radius: 50%;
   border:7px solid #cdcdcd;
   background-color: #fff;      
}
li .line:first-child::before {
   position: absolute;
   content: ' ';
   top: 30px;
   left: 10px;
   width: 5px;
   height: 70px;
   z-index: 20;
   border:none;
   border-left:1px solid #cdcdcd;
   background-color: #fff;      
}
li .line::before {
   position: absolute;
   content: ' ';
   top: 0px;
   left: 10px;
   width: 5px;
   height: 100px;
   z-index: 20;
   border:none;
   border-left:1px solid #cdcdcd;
   background-color: #fff;      
}
li .line:last-child::before {
   position: absolute;
   content: ' ';
   top: 0px;
   left: 10px;
   width: 5px;
   height: 35px;
   z-index: 20;
   border:none;
   border-left:1px solid #cdcdcd;
   background-color: #fff;      
}

li:hover.line::after {
	border:7px solid #4566fc;
	transition: 0.7s;
}
/*
.line:first-child::before{
	background-image: url("../images/begin.gif");
		 background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
	width:20px;
	height:50px;
   position:absolute;
  content: " ";
  top:25px;
	padding-top:0;
}
.line:last-child::before{
	background-image: url("../images/end.gif");
		 background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
	width:20px;
	height:50px;
	position:absolute;
  content: " ";
	padding-top:0;
	top:-5px;
}*/
.lineinfo span {
	color: #6789af;
	font-style: italic;
}
A{
	font-weight:bold;
	text-decoration:none;
	color:#4566fc;
}
a:visited {
   color:#4566fc;
}
A:hover{
	font-weight:bold;
	text-decoration:underline;
	color: #45a2fd;
	transition: 0.7s;
}
.lineinfo a,.lineinfo span{
   margin-left: 0;
   display: block;	
}
.lineinfo{
	margin-left:30px;
	margin-top: 5px;
	display: inline-block;
	font-size: 15px;
}

.bordernav {
   width:25px;
   list-style:  none;
   padding: 0;
   margin: 0;
}
.bordernav li {
   width:15px;
   height:200px; 
   background:linear-gradient(90deg, #ddd, #999, #ddd);  
   margin: 0;
   animation: bline 1s infinite;
   padding: 0;

}
@keyframes bline {
   0% {
      background:linear-gradient(90deg, #ddd, #999, #ddd);
   }
   20% {
      background:linear-gradient(90deg, #fff, #ddd, #fff); 
   }
   40% {
      background:linear-gradient(90deg, #ddd, #fff, #ddd);  
   }
   60% {
      background:linear-gradient(90deg, #fff, #ddd, #fff);   
   }
}
section {
	width:70%;	
	background-color: #FEFEFE;
}
section h2 {
    margin-left: 65px;
    font-weight:bold;
    font-size:16px;
    margin-top:25px; 
    position: relative;
}

section h2:before {
  position:absolute;
  content: " ";
  width:25px;
  height:25px;  
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  left:-40px;
  top:-5px;
  background-image:url("../images/list.gif");
}
section h3{
	font-size:15pt;
	margin-bottom:7px;
	text-align:left;
}
.works p{
	font-size:13pt;
	margin-top:0;
	text-align:justify;
}
.skills {
   list-style: none;
   display: inline-block;
   margin:0;
   padding:0;	
}	
.skills li {
	display: inline-block;
	color: #5785fa;
	font-size:12pt;
	margin-right: 8px;
}
.skills li::first-letter {
	text-transform: uppercase;
	color:#34d9d7;
}
.skills li:hover {
   color: #54b9fe;
}
section h3::first-letter {
   font-weight: bold;
   color:#fd7856;
}
.skills li::after {
	content: ',';
	color: #5785fa;
	font-size:13pt;
	font-weight: bold;
	padding-right: 5px;
}
 .skills li:last-child::after {
   display: none;	
}	
@keyframes textanim {
   0% {
      color:#5785fa;
   }
   20% {
      color:#5785ff;
   }
   40% {
      color:#3485dd;  
   }
   60% {
      color:#2245df;   
   }
   80% {
      color:#5785cf;   
   }
}
.works{
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}
.works article {
	width:38%; 
	border:1px solid #dcdcdc;
	padding: 15px;
	margin: 15px;
	box-shadow: 1px 1px 8px 3px #f5f5f5;
	background-color:#fafafa; 
}
.works article:hover {
   background-color:#f6f6f6;
}
.works article a{
   position: relative;
   margin-left: 30px;
   margin-bottom: 15px;
   display: block;
}
.works article a::after {
	content: ' ';
	width: 0;
	height: 0;
	border-left: 14px solid #df9adf;
	border-top: 7px solid transparent;
	border-bottom: 7px solid transparent;
	position: absolute;
	top: 2px;
	left: -25px;
	z-index: 20;
}
.creative {
   margin: 0;
   margin-top: 25px;
   display: flex;
   flex-wrap: wrap;
   justify-content:left;
      
}
.creative li {
   width: 30%;
   border:1px solid #dcdcdc;
	padding: 15px;
	margin-right: 25px;
	box-shadow: 1px 1px 8px 3px #f5f5f5;
	background-color:#fafafa; 
}
.creative li p a{
	position:relative; 
	margin-left: 25px;
	display: block;
}
.creative li:hover {
   background-color:#f6f6f6;
}
.creative li p a::after {
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
	border-left: 14px solid #df9adf;
	border-top: 7px solid transparent;
	border-bottom: 7px solid transparent;
	position: absolute;
	top: 2px;
	left: -25px;
	z-index: 20;
}
.social {
   margin:25px;
   text-align: center;
}
.social li a {
   color: #fff;
   font-size: 12pt;
}
.social li a:hover {
   text-decoration: underline;
   color:#effd46;
}

.social li {
   display: inline-block;
   margin-left: 20px;
   padding-right: 20px; 
   
}
footer {
	 background-color:RGB(53,79,255);
    color:#FFFFFF;
    margin:0;
    padding:20px;
}
footer .copyright {
	 color:#effd46;
	 font-weight: bold;
	 font-size: 14pt;
    text-align: center;
}