@media (min-width: 836px) and (max-width: 1056px) {
    .name {
       width:340px;
       
    }
    .userdata h1 {
       letter-spacing:0;
       font-size:20pt;    
    }
    .userdata {
       width:350px;    
    }
    .userdata div{ 
       width:100px;
       height:100px;
       margin-top:35px; 
    }
    .works article, .creative li {
	    width:90%;
	 } 
	 .creative li { 
	    margin-right: 0;
	    margin-left: -20px;
    }  
    .menulist .item{
      margin-left:5px;    
    }
    .social li {
      padding-left:10px;
      margin-left: 10px;    
    }
    .social {
      margin:25px 0;
      width:95%;    
    }
    footer .copyright  {
      font-size: 12pt;    
    }
    .desktopflag {
      display:none;    
    }
    .printflag {
      display:none;    
    }
    .tabletflag {
      display: inline;    
    }
}

@media (min-width: 500px) and (max-width: 835px) { 
  header {
      height: 380px;
      display: flex;
      flex-direction:column-reverse;
      justify-content:center;
      padding: 10px;  
  }
  
 .name {
       width:350px;
       margin: 0 auto;
    }
  .contacts {
     margin: 0 auto;
     width:350px;  
  } 
    .userdata h1 {
       letter-spacing:0;
       font-size:20pt;
       margin-top:35px;    
    }
    .userdata {
       width:350px;    
    }
    .userdata div{ 
       width:100px;
       height:100px;
       margin-top:15px; 
    }
    .works article, .creative li {
	    width:90%;
	 } 
	 .creative li { 
	    margin-right: 0;
	    margin-left: -20px;
    }  
    .menulist .item{
      margin-left:5px;    
    }
    .social li {
      padding-left:10px;
      margin-left: 10px;    
    }
    .social {
      margin:25px 0;
      width:95%;    
    }
    footer .copyright  {
      font-size: 12pt;    
    }
    .desktopflag {
      display:none;    
    }
    .printflag {
      display:none;    
    }
    .tabletflag {
      display: inline;    
    }
  main {
    display:block;
    padding:0;
    margin:0;  
  }   
  nav {
    width: 100%;
    margin:0;
    padding-top:15px;  
  }
  section {
    width:100%;  
  }
}