- var sitelink = "https://github.com/IvanShavliuga"
- var sitetitle = "github.com/IvanShavliuga" 
section
  h2 Portfolio 
  .works
    article
      h3 News portal 
      a(href=sitelink+"/vuejsnews" target="_blank")=sitetitle
      p News portal using vue technologies .js and css, bootstrap. 
        | This project is a simple social news network. 
        | The project was created specifically for self- learning. 
        | Implemented groups, users, news feed, the ability to edit material and create groups, 
        | as well as send messages, put likes, comments and reposts. I will be happy if you find errors in the code.
      ul.skills 
        li html5
        li css3
        li scss
        li vue.js (2.x)
        li Vue-Router
        li Vuex
        li npm
        li Webpack
        li Bootstrap (4.x)
        li EcmaScript (2015)
        li git
        li adaptive design
    article
      h3 Task manager and timer 
      a(href=sitelink+"/vuejstimer" target="_blank")=sitetitle
      p News portal using vue technologies .js and css, bootstrap. 
        | This project is a simple social news network. 
        | The project was created specifically for self- learning. 
        | Implemented groups, users, news feed, the ability to edit material and create groups, 
        | as well as send messages, put likes, comments and reposts. I will be happy if you find errors in the code.
      ul.skills 
        li html5
        li css3
        li scss
        li vue.js (2.x)
        li npm
        li Webpack
        li EcmaScript (2015)
        li git
        li adaptive design
      
      