- var sitelink = "https://github.com/IvanShavliuga"
- var sitetitle = "github.com/IvanShavliuga" 
section
  h2 Portfolio 
  .works
    article(v-for="(p,k) in portfolio" :key="k" :id="'article-'+k")
      h3 {{p.title}}
      a(:href="p.sitelink" target="_blank") {{p.sitetitle}}
      span.linkprint {{p.sitelink}} 
      p {{p.desc}}
      ul.skills 
        li(v-for="(t,k1) in p.tech" :key="k+'_'+k1" :id="'tech-'+k+'_'+k1") {{t}}
  h2 Creation
  ul.creative
    li(v-for="(c,k) in creative" :key="'creative_'+k" :id="'creative_'+k") 
      h3 {{c.category}}
      p(v-for="(l,k1) in c.linkslist" :key="'creative_'+k" :id="'creative_'+k+'_'+k1")
        a(:href="l.link" target="_blank" :title="l.name") {{l.name}}
        span.linkprint {{l.link}}
      
            