- var sitelink = "https://github.com/IvanShavliuga"
- var sitetitle = "github.com/IvanShavliuga" 
section
  h2 Portfolio 
  .works
    article
      h3 News portal 
      a(href=sitelink+"/vuejsnews" target="_blank")=sitetitle
      p News portal using vue technologies .js and css, bootstrap. 
        | This project is a simple social news network. 
        | The project was created specifically for self- learning. 
        | Implemented groups, users, news feed, the ability to edit material and create groups, 
        | as well as send messages, put likes, comments and reposts. I will be happy if you find errors in the code.
      ul.skills 
        li html5
        li css3
        li scss
        li vue.js (2.x)
        li Vue-Router
        li Vuex
        li npm
        li Webpack
        li Bootstrap (4.x)
        li EcmaScript (2015)
        li git
        li adaptive design
    article
      h3 Task manager and timer 
      a(href=sitelink+"/vuejstimer" target="_blank")=sitetitle
      p News portal using vue technologies .js and css, bootstrap. 
        | This project is a simple social news network. 
        | The project was created specifically for self- learning. 
        | Implemented groups, users, news feed, the ability to edit material and create groups, 
        | as well as send messages, put likes, comments and reposts. I will be happy if you find errors in the code.
      ul.skills 
        li html5
        li css3
        li scss
        li vue.js (2.x)
        li npm
        li Webpack
        li EcmaScript (2015)
        li git
        li adaptive design
    article
      h3 Chat 
      a(href=sitelink+"/vue-chat" target="_blank")=sitetitle
      p Multi-user Chat for exchanging short messages using some html tags
      ul.skills 
        li html5
        li css3
        li less
        li vue.js (2.x)
        li npm
        li Webpack
        li EcmaScript (2015)
        li git
        li adaptive design
        li own design
    article
      h3 Vue.js mail application 
      a(href=sitelink+"/vuejs-mail-app" target="_blank")=sitetitle
      p Just a project for self-learning vue.js technology. 
        | Development of a multi-user mail application (only frontend parts) 
        | for your own needs and learning vue.js for further professional growth as a specialist. 
        | The project must switch between users and be able to add new ones). 
        | It should be possible to send messages to spam, and forward messages between users.
      ul.skills 
        li html5
        li css3
        li Bootstrap (4.x)
        li vue.js (2.x)
        li npm
        li Webpack
        li EcmaScript (2015)
        li git
        li adaptive design
        li own design
  h2 Creation
  ul.creative
    li 
      h3 Literature
      p 
        a(href="http://author.today/u/ischavliuga/works" target="_blank") Author Today
      p 
        a(href="http://samlib.ru/i/iwan_sergeewich_shawljuga/" target="_blank") Samlib
      p
        a(href="http://https://isschavliuga.ucoz.net" target="_blank") Personal web-site
    li 
      h3 Science 
      p
        a(href="http://mendel-info.usite.pro" target="_blank") Table of Mendeleev
      p
        a(href="https://t.me/mendelinfo" target="_blank") Telegram channel of science 
                     
            