header
  .contacts
    ol
      li 
        p {{geo}} 
      li
        p 
          a(:href="github" :title="github") github.com
          span.linkprint {{github}}
        p 
          a(:href="email" :title="email") {{email}}
          span.linkprint {{email}}
      li  
        p(title="The user wanted to hide their phone number") {{phone}}
        p The user wanted to hide their phone number
  .name 
     .userdata
       .photouser
       h1 {{name}}
       p {{prof}}