header
  .contacts
    ol
      li 
        p (BY) Belarus Republic, Novopolotsk 
      li
        p 
          a(href="https://github.com/IvanShavliuga/") github.com
        p 
          a(href="mailto://iva.drakon.nov@gmail.com") iva.drakon.nov@gmail.com 
      li  
        p(title="The user wanted to hide their phone number") +375 ** *** ** 23
        p The user wanted to hide their phone number
  .name 
     .userdata
       .photouser
       h1 Ivan Shavliuga
       p Junior Frontend developer