doctype html
html(lang='en')
  head
    title Ivan Shavliuga (Ivanov)_resume
    meta(charset='UTF-8')
    meta(name="Author" content="Ivan Shavluga")
    link(href='https://fonts.googleapis.com/css?family=Khula:400', rel='stylesheet')
    link(href="https://fonts.googleapis.com/css?family=Raleway", rel="stylesheet")

  body
    include header
    main
      include nav
      include articles