doctype html
html(lang='en')
  head
    block title
    meta(charset='UTF-8')
    link(href='https://fonts.googleapis.com/css?family=Khula:400', rel='stylesheet')
    link(href="https://fonts.googleapis.com/css?family=Raleway", rel="stylesheet")

  body
    .resume-container
      .eyecatch.u-doc-container
        h1.eyecatch-title 五所 和哉
        p.eyecatch-subtitle Full Stack Web Engineer
        p.eyecatch-description
          | Webアプリケーションのエンジニアです。
          | プログラミングは6年前に始め、直近3年間はWebエンジニアとしてキャリアを積んでいます。
          // | AWSを使ったアプリケーションインフラの構築や、サーバーサイドからフロントエンドのプログラミング、ReactNativeによるモバイルアプリ開発、またDockerやCircleCIといったツールを利用した開発支援もできます。
          | 最も得意としている領域はJavaScriptを利用したWebアプリのフロントエンド開発で、Babel等のツールを利用した環境構築、React.jsやVue.jsの導入から実装までをカバーしています。
          | 商学系の大学を卒業したバックグラウンドを活かし、ビジネスに価値をもたらすソフトウェアを作ることを信条としています。

      .contact
        .row
          .three.columns.contact-each-first
            p.contact-content 日本語、英語
            p.contact-heading 言語
          .three.columns.contact-each-second
            p.contact-content +8180-7808-4235
            p.contact-heading 電話番号
          .three.columns.contact-each-third
            p.contact-content.contact-content-email ketsume0211@gmail.com
            p.contact-heading メールアドレス
          .three.columns.contact-each-last
            p.contact-content 東京都
            p.contact-heading 活動場所

      .row.u-doc-container
        .six.columns

          h2.u-section-title 職務経験
          .work-each
            p.u-each-title
              span.u-each-organization 株式会社トレイム
              span.u-each-period 2017.03 ~ 2018.03
            p.u-each-subtitle リードエンジニア
            p.work-each-description
              | Web系ベンチャー企業にて、自社サービス (https://www.in-fra.jp) の成長を行いました。
              | 入社当初はアプリケーション及びインフラストラクチャがレガシーであったので、コードの修正、速度改善、開発環境整備、リファクタリング、機能追加などを主に行いました。
              | 最も費用対効果が良かった仕事は、トップページにキャッシュを入れることで、TTFB を2秒削減したことでした。
              ul
                li jQueryだけの環境にVue.jsを導入
                li iOSアプリをReact Nativeで一から開発及びリリース（3ヶ月）し、集客に貢献
                li AWS Elastic Beanstalk から同EC2 + Ansibleに乗り換え、デプロイ時間を短縮
                li CircleCI、Linter、自動テストを導入し、属人化しない仕組みを構築
                li Dockerを導入し、開発環境の統一と自動セットアップ
                li Metabaseを導入し、KPIの可視化を推進

          .work-each
            p.u-each-title
              span.u-each-organization 株式会社クイック
              span.u-each-period 2015.04 ~ 2017.02
            p.u-each-subtitle 営業 (2015.04 ~ 09), 社内SE (2016.10 ~ 2017.02)
            p.work-each-description
              | 大手人材企業にて、半年間は現場を知るため営業として、その後の1年6ヶ月は社内SEとして勤務しました。
              | 営業では、人材紹介の新規契約の獲得、及び入社決定までの採用コンサルティングを行いました。
              | 社内SEでは、社内システム開発の設計・実装及びベンダーへの発注を行い、営業がより効率的に成果を出すための仕組み作りを担いました。
              ul
                li 営業先リストの自動生成
                li FuelPHPによる新機能開発
                li 営業マネージャーとの調整業務
                li バグの修正

          .education
            h2.u-section-title 学歴
            .education-each
              span.u-each-organization 一橋大学
              span.u-each-period 2011.04 ~ 2015.03
            p.u-each-subtitle 経済統計・数学
            ul
              li プログラミング
              li 線形代数学
              li 統計学

        .six.columns

          .education
            h2.u-section-title OSSへの貢献
            ul
              li
                span.oss-title fzf
                span.oss-url https://github.com/junegunn/fzf
                p.oss-description - FishShellにおけるバグの修正
              li
                span.oss-title enhancd
                span.oss-url https://github.com/b4b4r07/enhancd
                p.oss-description - 新機能の追加
              li
                span.oss-title xremap
                span.oss-url https://github.com/k0kubun/xremap
                p.oss-description - Awesome Window Manager におけるバグの修正
              li
                span.oss-title ActiveHash
                span.oss-url https://github.com/zilkey/active_hash
                p.oss-description - ドキュメントのミスタイプを修正

          .education
            h2.u-section-title 開発スキル
            ul
              li Linux (6年)
              li PHP (5年)
              li HTML, CSS (5年)
              li JavaScript, ECMAScript (3年)
              li Laravel (2年)
              li Node.js (3年)
              li SQL (2年)
              li Vue.js (2年)
              li AWS, CircleCI, GitHub (2年)
              li Docker (2年)
              li React, React Native (1年)

          .education
            h2.u-section-title リンク
            ul
              li https://github.com/acro5piano
              li https://qiita.com/acro5piano
              li https://dev.to/acro5piano
              li https://acro5piano.github.io
