doctype html
html(lang='en')
  head
    block title
    meta(charset='UTF-8')
    link(href='https://fonts.googleapis.com/css?family=Khula:400', rel='stylesheet')
    link(href="https://fonts.googleapis.com/css?family=Raleway", rel="stylesheet")

  body
    .resume-container
      .eyecatch.u-doc-container
        .row
          .three.columns
            .eyecatch-logo
          .nine.columns
            h1.eyecatch-title Kay Gosho
            p.eyecatch-subtitle Fullstack Web Engineer
            p.eyecatch-description
              | Highly fast and good at creating web applications with a lot of knowledge of web technologies.
              | I've been a web engineer for 6 years. I have multitude enperiences in the field of Server-side and Front-end programming, Front-end building, SQL tuning and so on.
              | I'm also used to deal with Infrastructure & DevOps tools such as AWS, CircleCI and Docker.

      .contact
        .row
          .three.columns.contact-each-first
              p.contact-content Japanese, English
              p.contact-heading Language
          .three.columns.contact-each-second
              p.contact-content +8180-1208-7156
              p.contact-heading Phone Number
          .three.columns.contact-each-third
              p.contact-content.contact-content-email ketsume0211@gmail.com
              p.contact-heading Email
          .three.columns.contact-each-last
              p.contact-content acro5piano.github.io
              p.contact-heading Online Portforio

      .row.u-doc-container
        .six.columns

          h2.u-section-title Work Exprience
          .work-each
            p.u-each-title
              span.u-each-organization Traimmu.inc
              span.u-each-period 2017.03 ~ Current
            p.u-each-subtitle Lead Engineer
            p.work-each-description
              | I'm scaling our web application (https://www.in-fra.jp).
              | The application was a little bit legacy in the point of both infrastructure and application,
              | so refactoring and replacement was a major issue.
              | As a result, I speeded up the application TTFB for over 2000ms.
              ul
                li Replace jQuery with Vue.js
                li Refactor Laravel source code
                li Change the infrastructure from Heroku to AWS (Elastic Beanstalk)
                li Implement CircleCI, Docker
                li SQL tuning
                li Improve business KPI

          .work-each
            p.u-each-title
              span.u-each-organization  Quick CO., LTD.
              span.u-each-period 2015.04 ~ 2017.02
            p.u-each-subtitle Sales (2015.04 ~ 09), Engineer (2016.10 ~ 2017.02)
            p.work-each-description
              | I worked as sales for first half year.
              | As a sales, I made appointments with new customers, and get contract with them.
              | Then I moved to Engineer department. I maintain the HR internal systems.
              ul
                li Sale HR solutions
                li Create new functions with FuelPHP
                li Architect systems
                li Fix a lot of bugs

          .education
            h2.u-section-title Education
            .education-each
              span.u-each-organization Hitotsubashi University
              span.u-each-period 2011.04 ~ 2015.03
            p.u-each-subtitle Mathematics
            ul
              li Linear Algebra
              li Statistics



        .six.columns

          .education
            h2.u-section-title Contributed OSS
            ul
              li
                span.oss-title fzf
                span.oss-url https://github.com/junegunn/fzf
              li
                span.oss-title ActiveHash
                span.oss-url https://github.com/zilkey/active_hash
              li
                span.oss-title enhancd
                span.oss-url https://github.com/b4b4r07/enhancd
              li
                span.oss-title xremap
                span.oss-url https://github.com/k0kubun/xremap
              li
                span.oss-title prh
                span.oss-url https://github.com/prh/prh
              li
                span.oss-title FlyGrep.vim
                span.oss-url https://github.com/wsdjeg/FlyGrep.vim

          .education
            h2.u-section-title Programming Skill
            ul
              li Linux (5 years)
              li PHP (5 years)
              li Html, CSS (5 years)
              li Laravel (2 years)
              li SQL (2 years)
              li AWS, CircleCI, GitHub (2 years)
              li Node.js (1 year)
              li Vue.js (1 year)
              li Ruby on Rails (1 year)
              li Docker (1 year)

          .education
            h2.u-section-title Links
            ul
              li https://github.com/acro5piano
              li https://www.linkedin.com/in/kay-gosho-587a05121
              li https://acro5piano.github.io
              li http://qiita.com/acro5piano

    script(src='/bundle.js')
