doctype html
html(lang='en')
  head
    block title
    meta(charset='UTF-8')
    link(href='https://fonts.googleapis.com/css?family=Khula:400', rel='stylesheet')
    link(href="https://fonts.googleapis.com/css?family=Raleway", rel="stylesheet")

  body
    .resume-container
      .eyecatch.u-doc-container
        h1.eyecatch-title Melusi Khumalo
        p.eyecatch-subtitle Software Engineer | Project Manager | Scrum Master
        p.eyecatch-description
          | Efficient and skilled in web application creation with a diverse knowledge of web technologies,
          | I have been a software engineer for 3 years.
          | I have garnered a multitude experiences in the field of Server-side and Front-end programming, Front-end building, SQL tuning and others.
          | I have been involved in team development for 2 years, this along with the management of internal and external projects.

      .contact
        .row
          .three.columns.contact-each-first
            p.contact-content English, isiZulu
            p.contact-heading Languages
          .three.columns.contact-each-second
            p.contact-content +27737402122
            p.contact-heading Phone Number
          .three.columns.contact-each-third
            p.contact-content.contact-content-email melusi.l.k@gmail.com
            p.contact-heading Email
          .three.columns.contact-each-last
            p.contact-content Cape Town, South Africa
            p.contact-heading Location

      .row.u-doc-container
        .six.columns

          h2.u-section-title Work Experience
          .work-each
            p.u-each-title
              span.u-each-organization Ladysmith Emnambithi Municipality
              span.u-each-period 2015.01 ~ 2015.02
            p.u-each-subtitle Junior IT Engineer
            p.work-each-description
              | Description
              ul
                li Comprehensive database management.
                li PBx Installations and maintenance.
                li IT Hardware and software support.
                li Network support.

          .work-each
            p.u-each-title
              span.u-each-organization  Uthukela District Municipality
              span.u-each-period 2015.03 ~ 2017.01
            p.u-each-subtitle Junior IT Technician (2015.03 ~ 2016.06), Assistant IT Technician (2016.07 ~ 2017.01)
            p.work-each-description
              | Description
              ul
                p.work-each-description Software
                li Test new software
                li Make software available to appropriate end-users where requested
                li Ensure the anti-virus software is installed, kept up to date and working properly on all customers stations, where appropriate
                li Set up and maintain user e-mail accounts, when requested by end-users
                li Provide troubleshooting resolution and updating/upgrading of software to customers

                p.work-each-description Hardware
                li Maintain end-users computer peripheral equipment, as requested
                li Assist other technicians on in the office where required
                li Keep a log of all technical faults (Support log)
                li Liaise with external suppliers for the repair of equipment under warranty or maintenance contract
                li Provide troubleshooting resolution and updating/upgrading of hardware to end-users
                li Assist with and provide support/troubleshooting for server hardware
                li Set up, maintain and remove user network accounts where appropriate
                li Carry out routine network maintenance tasks

            .work-each
                  p.u-each-title
                    span.u-each-organization Sage Africa
                    span.u-each-period 2017.02 ~ 2017.04
                  p.u-each-subtitle Junior Payroll Consultant

            .work-each
                    p.u-each-title
                      span.u-each-organization Hereford Group
                      span.u-each-period 2017.04 ~ 2017.07
                    p.u-each-subtitle Advisor

            .work-each
                      p.u-each-title
                        span.u-each-organization Add Colour
                        span.u-each-period 2017.06 ~ 2018.01
                      p.u-each-subtitle UI Designer

            .work-each
                        p.u-each-title
                          span.u-each-organization Sompisi IT Solutions
                          span.u-each-period 2018.02 ~ 2018.06
                        p.u-each-subtitle Developer

            .work-each
                          p.u-each-title
                            span.u-each-organization MADE Code
                            span.u-each-period 2018.07 ~ Current
                          p.u-each-subtitle Scrum Master


          .education
            h2.u-section-title Education
            .education-each
              span.u-each-organization Central University of Technology
              span.u-each-period 2010.01 ~ 2014.11
            p.u-each-subtitle National Diploma : Information Technology (Software Development)
            ul
              li Programming
              li Business Analysis
              li Business Development



        .six.columns

          .education
            h2.u-section-title Project Management Skills
            ul
              li
                span.oss-title Skill
                p.oss-description - Description
              li
                span.oss-title Skill
                p.oss-description - Description


          .education
            h2.u-section-title Development Skills
            ul
              li Linux (5 years)
              li PHP (5 years)
              li HTML, CSS (5 years)
              li Laravel (2 years)
              li JavaScript, ECMAScript (2 years)
              li SQL (2 years)
              li AWS, CircleCI, GitHub (2 years)
              li Node.js (1 year)
              li Vue.js (1 year)
              li React, React Native (1 year)
              li Docker (1 year)

          .education
            h2.u-section-title Profile Links
            ul
              li https://github.com/acro5piano
              li https://www.linkedin.com/in/kay-gosho-587a05121
              li https://acro5piano.github.io
              li https://dev.to/acro5piano
              li https://qiita.com/acro5piano (Japanese website)

    script(src='/bundle.js')
