doctype html
html(lang='en')
  head
    title Andrey_Letashkov_resume
    meta(charset='UTF-8')
    link(href='https://fonts.googleapis.com/css?family=Khula:400', rel='stylesheet')
    link(href="https://fonts.googleapis.com/css?family=Raleway", rel="stylesheet")

  body
    .header
    .resume-container
      .eyecatch.u-doc-container
        h1.eyecatch-title Andrey Letashkov
        p.eyecatch-subtitle  QA Automation engineer
        p.eyecatch-description
          | - Beginning QA Automation engineer.
          | - Completed an internship at at Godel Technologies.
          | - Completing QA Automation courses in TeachMeSkills.
          | - There is a great desire to work for days on a project and benefit the product.
          | - I am an active, sociable, and proactive person ready to work and develop myself in Automation.
          | - Team player with good communication skills, pro-active, self-motivated, results-oriented,
          perform well under pressure, strict attentive to details, good at multitasking.

      .contact
        .row
          .three.columns.contact-each-first
            p.contact-content English
            p.contact-heading Language
          .three.columns.contact-each-second
            p.contact-content +375298275803
            p.contact-heading Phone Number
          .three.columns.contact-each-third
            p.contact-content.contact-content-email letashkov19981@mail.ru
            p.contact-heading Email
          .three.columns.contact-each-last
            p.contact-content Belarus, Minsk
            p.contact-heading Location

      .row.u-doc-container
        .six.columns

          h2.u-section-title Work Experience
          .work-each
            p.u-each-title
              span.u-each-organization  Godel Technologies
              span.u-each-period 2020.12 - 2021.04
            p.u-each-subtitle intern
            p.work-each-description
              | I received fundamental knowledge for Automated testing.
              ul
                li Types of testing: Automated testing.
                li Programming languages: Java, C#
                li Working with GitHub and GitLab.
                li Technologies: CSS, XPath
                li Web technology fundamentals: HTTP, HTML, CSS, XML, JSON
                li Testing Tools TestNG, JUnit, Selenium WebDriver
                li Databases: MS SQL
                li IDEs: Intellij Idea, Visual Studio
                li Operating systems: Windows
                li Bug tracking systems: Jira
                li Build Tools: Maven
                li CI: Jenkins
                li  Drawing up flowcharts, checklists, test cases, analysis of requirements, preparation of bug reports.
                li English — Pre-Intermediate
                .work-each
            p.u-each-title
              span.u-each-organization  TeachMeSkills
              span.u-each-period 2015.05 - Till Now
            p.u-each-subtitle listener
            p.work-each-description
              | I get all the necessary skills for work QA Automation.
              ul
                li Java Fundamentals
                li Software Testing Fundamentals:
                li Test Plan, Checklists, Test Cases, Test Design Techniques, Software Development Process
                li JIRA and Bug Reports
                li Reporting
                li Client-Server Architecture
                li REST API
                li Web Technology Fundamentals: HTTP, HTML, CSS, XML, JSON
                li Selenium WebDriver
                li Page Object Pattern
                li Relational Database Basics, SQL
                li Allure report, Extent, Serenity
                li BDD
                li Continuous integration (GIT, Maven, Jenkins)

        .six.columns

          .education
            h2.u-section-title Education
            .education-each
              span.u-each-organization Academy of the Ministry of Internal Affairs
              span.u-each-period 2016.08 - 2020.06
            ul
              li lawyer
              li Jurisprudence

          .education
            h2.u-section-title Development Skills
            ul
              li Java (6 months)
              li C# (5 months)
              li GitHub (6 months)
              li GitLab (5 months)
              li SQL (3 months)

          .education
            h2.u-section-title Profile Links
            ul
              li https://github.com/AndreyLetashkov
              li https://www.linkedin.com/feed/
    .footer
