doctype html
html(lang='en')
  head
    block title
    meta(charset='UTF-8')
    link(href='https://fonts.googleapis.com/css?family=Khula:400', rel='stylesheet')
    link(href="https://fonts.googleapis.com/css?family=Raleway", rel="stylesheet")

  body
    .container.resume
      .row
        .three.columns
          .logo
        .nine.columns
          h1.my-name Kay Gosho
          p Fullstack web engineer
          p
            | aaaaaaaaaa
            | aaaaaaaaaa
            | aaaaaaaaaa
            | aaaaaaaaaa
            | aaaaaaaaaa
            | aaaaaaaaaa
            | aaaaaaaaaa
            | aaaaaaaaaa
            | aaaaaaaaaa
            | aaaaaaaaaa

    script(src='/bundle.js')
