doctype html
html(lang='en')
  head
    title Uladzislay-Lipavy_resume
    meta(charset='UTF-8')
    link(href='https://fonts.googleapis.com/css?family=Khula:400', rel='stylesheet')
    link(href="https://fonts.googleapis.com/css?family=Raleway", rel="stylesheet")

  body
    .header
    .resume-container
      .eyecatch.u-doc-container
        h1.eyecatch-title Uladzislau Lipavy
        p.eyecatch-subtitle System Administrator
        p.eyecatch-description
          | Now I work as a System Administrator in Godel Technologies Europe.
          | I want to be a SDET.

      .contact
        .row
          .three.columns.contact-each-first
            p.contact-content Russian, English Pre-Entermediate
            p.contact-heading Languages
          .three.columns.contact-each-second
            p.contact-content +375291515902
            p.contact-heading Phone Number
          .three.columns.contact-each-third
            p.contact-content.contact-content-email 5obrspn16@mail.ru
            p.contact-heading Email
          .three.columns.contact-each-last
            p.contact-content Minsk, Belarus
            p.contact-heading Location

      .row.u-doc-container
        .six.columns

          h2.u-section-title Work Experience
          .work-each
            p.u-each-title
              span.u-each-organization Godel Technologies Europe
              span.u-each-period 2019.09 ~ Current
            p.u-each-subtitle System administrator
            p.work-each-description
              | I prepare workplace for newcomers and support other employees.
              ul
                li AWS management (Windows, Linux, Active Directory, Java, Selenium)

        .six.columns

          .education
            h2.u-section-title Education
            .education-each
              span.u-each-organization Novolukoml' Secondary school
              span.u-each-period 2002.09 ~ 2013.05
            p.u-each-subtitle Graduate
            ul

          .education
            h2.u-section-title SysAdmins courses
            ul
              li
                span.oss-title IBA
                a bug in #13526

          .education
            h2.u-section-title Development Skills
            ul
              li Java (2 month)

          .education
            h2.u-section-title Profile Links
            ul
              li https://linkedin.com/vladislav-lipoviy-8b7351195/
    .footer
