nav
  ul.menulist
    li.item 
      h2 Profile 
      .desc 
        h3 Ivan Shavliuga 
        p 
          b Junior FrontEnd developer
        p I make site layout to order. 
        p 
          a(href="mailto://iva.drakon.nov@gmail.com") iva.drakon.nov@gmail.com
        p(title="The user wanted to hide their phone number") +375 ** *** ** 23 
    li.item
      h2 Interests
      .images
        .interes
          p Music
        .interes
          p Gaming
        .interes
          p Biking
      .intereshead        
    li.item 
      h2 Skills 
      .desc 
        ul.skills 
          li html5
          li css3
          li scss
          li less
          li pug
          li Angular (beginners)
          li vue.js (2.x)
          li Vue-Router
          li Vuex
          li npm
          li Webpack
          li Bootstrap (4.x)
          li EcmaScript (2015)
          li git
          li adaptive design
    li.item 
      h2 Education 
      .desc 
        h3 Polotsk state University
        p Incomplete higher education
        p Faculty of information technology 
        p Specialization information technology software
        p 
          b 2006-2011, 3.5 years
    li.item
      h2 Work experience 
      .desc
        ul
          li.line
            .beginline 
            .lineinfo 09/2018 - Now
              a(href="https://mendel-info.usite.pro") Table of Mendeleev 
              span Administrator
          li.line 
            .endline 
            .lineinfo  12/2019- Now 
              a(href="https://www.geekbrains.ru") Maybebaby project 
              span junior Vue.js developer
    li.item
      h2 Social networks
      .desc 
        p 
          a(href="https://www.linkedin.com/in/%D0%B8%D0%B2%D0%B0%D0%BD-%D0%B8%D0%B2%D0%B0%D0%BD%D0%BE%D0%B2-%D1%88%D0%B0%D0%B2%D0%BB%D1%8E%D0%B3%D0%B0-778540153/" target="_blank") linkedin.com
        p
          a(href="https://www.github.com/IvanShavliuga" target="_blank") github.com
        p 
          a(href="https://www.t.me/vuejscodesru" target="_blank") telegram
        p 
          a(href="https://www.vk.com/isshavluga" target="_blank") vk.com
        p 
          a(href="https://www.sololearn.com/Profile/9620153/?ref=app" target="_blank") Sololearn
        p  
          a(href="https://www.codepen.io/ivanshavliuga" target="_blank") Codepen 
        