nav
  .menulist
    li.item 
      h2 Profile info 
      .desc Dolor sit a guam erat volut-pat. 
        | Ut wisi enim ad minim veniam, quis hostruduk cipit lobortis nislea quis commodo 
        | consequat. Quis nostruduk cipit lobortis nislea.
    li.item
      h2 Interests
      .images
        .interes
          p Music
        .interes
          p Gaming
        .interes
          p Biking
      .intereshead    
    li.item
      h2 Reference 
      .desc
        ul
          li.line
            .beginline 
            .lineinfo 09/2018 - Now
              a(href="https://mendel-info.usite.pro") Table of Mendeleev 
              span Administrator
          li.line 
            .endline 
            .lineinfo  12/2019- Now 
              a(href="https://www.geekbrains.ru") Maybebaby project 
              span junior Vue.js developer
    li.item
      h2 Awwards
      .desc Illustration adward 2009  Wed Design adward 2012  Elite adward 2019